@charset "UTF-8";
@font-face {
    font-family: "Chorus";
    src: url("../fonts/CHORUS-BLACK.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
/*reset*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* variaveis */
:root{
/*Fundo principal.*/
    --background:#0e0e0e; 
    --background-light:#48454C;  
/*Textos secundários e detalhes.*/
    --support:#1D1B20; 
    --support-light: #283845 ;
/*Botões, links importantes e efeitos de destaque.*/
    --accent:#FFA649; 
/*Cores complementares*/
    --border:#FFA669;/*borda*/
    --text-white:#FFFFFF;/*texto branco pra fundos escuros*/
    --text-black:#000000;/*texto normal pra fundos claros*/
/*propriedades muito usadas*/
    --transition: .4s ease-in-out;
    --radius: 12px;
}
