@charset "UTF-8";
/*reset*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* variaveis */
:root{
/*Fundo principal.*/
    --background:#0e0e0e; 
    --background-light:#48454C;  
/*Textos secundários e detalhes.*/
    --support:#1D1B20; 
    --support-light: #283845 ;
/*Botões, links importantes e efeitos de destaque.*/
    --accent:#FFA649; 
/*Cores complementares*/
    --border:#FFA639;/*borda*/
    --text-white:#FFFFFF;/*texto branco pra fundos escuros*/
    --text-black:#000000;/*texto normal pra fundos claros*/
/*propriedades muito usadas*/
    --transition: .4s ease-in-out;
   --radius-sm: 12px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
}
