body{
    min-height: 100vh;
    width: 100%;
}

/*
.header{

}
.main{

}
.footer{
    
}
*/
.title{ 
    font-size: clamp(2.8rem, 4.5vw, 5.5rem);
    font-family: "Chorus";
    font-weight: 100;
}
.subtitle{
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    font-family: 'Syne';
}